USE [master]
GO
/****** Object:  Database [Siena_Dev]    Script Date: 12/7/16 9:09:07 AM ******/
CREATE DATABASE [Siena_Dev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Siena_Dev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Siena_Dev.mdf' , SIZE = 1974272KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Siena_Dev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Siena_Dev_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Siena_Dev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Siena_Dev]
GO
USE [Siena_Dev]
GO
/****** Object:  Table [dbo].[JobCategories]    Script Date: 12/7/16 9:09:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCategories](
	[Category] [varchar](200) NULL,
	[Title] [varchar](200) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MessageLog]    Script Date: 12/7/16 9:09:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageLog](
	[LogMessage] [varchar](max) NULL,
	[StackMessage] [varchar](max) NULL,
	[Parameter] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WebData]    Script Date: 12/7/16 9:09:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebData](
	[url] [varchar](max) NULL,
	[html] [varchar](max) NULL,
	[LinkName] [varchar](200) NULL,
	[HtmlText] [varchar](max) NULL,
	[linkUID] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[WebData] ADD  DEFAULT (newid()) FOR [linkUID]
GO
USE [master]
GO
